*.class

# Package Files #
*.jar
*.war
*.ear

# Project files
.idea/*
.sublime*
*.iml

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Drake files (can remove later if needed)
*/*/.drake/*
*/.drake/*

# Bug reports (huge, only need android)
bug\ reports/